.THIS .slds-modal__container{
    max-width:100%;
    width:90%;
}

/*.THIS .slds-dueling-list__column_responsive .slds-dueling-list__options {
    width: auto;
    height: 40%;
    max-width: 15rem;
}*/

.THIS.addclass{
    transform : translate3d(0px, 0px, 0px);
}

.THIS .slds-radio .slds-form-element__label {
    padding-left : 10px;
}

.THIS table tr td:first-child {
    position:sticky;
    z-index: 1;
}

.THIS table tr th:first-child {
    position:sticky;
    z-index: 1;
}

.THIS .headcol{
  position: absolute;
  width: 5em;
  left: 0;
  top: auto;
  border-top-width: 1px;
  /*only relevant for first row*/
  margin-top: -1px;
  background-color:white;
  /*compensate for top border*/
}

.THIS table tr:hover{
    background-color: white;
    
}